.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .firstsection{
        
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:relative ;
        .img1{
            width: 150px;
            position: absolute;
            top:0;
            left: 0;
        }
        .img2{
            width: 150px;
            position: absolute;
            top:0;
            right: 0;
        }
        .img3{
            width: 150px;
            position: absolute;
            bottom:0;
            left:0;
        }
        .img4{
            width: 150px;
            position: absolute;
            bottom:0;
            right:0;
        }
        .sousfirstsection{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin:auto;
            text-align: center;
            h1{
            font-family: 'Courgette', cursive;
            
            span{
                font-size: 60px;
                color: rgb(197, 47, 79);
            }
            }
        }
        }
    .soussecondsection{
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 200px;
            .sdiv1{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid rgb(182, 182, 182);
                border-right: 1px solid rgb(182, 182, 182);
                
                
                
                p{
                    font-size: 25px;
                    font-family: 'Courgette', cursive;
                    margin-top: 5px;
                    color: black;
                }
                i{
                    font-size: 300%;
                    color: rgb(190, 190, 190);
                }
                
                
            }
            .sdiv11{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgb(182, 182, 182);
                height: 129.26px;
            }
            .sdiv1:focus{
                border-right: 5px solid rgb(197, 47, 79);
                i{
                    color: rgb(197, 47, 79);
                }

            }
        
        
        .parent{
            
            display: flex;
            .div2{
            width:auto;
            .div22{
                height: auto;
                margin-bottom: 15px;
                .div2-1{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 50%;
                    width: 60%;
                }
                }
                .div2-2{
                    width: 60%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                p:first-of-type{
                    font-weight: bold;
                }
                .plast{
                    margin-top:10px;
                }
                p{
                    margin-bottom: 0;
                }
            }
                .div2-3{
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        color:rgb(197, 47, 79);
                        font-size: 100%;
                    }
                }
            }
            }
            .div3{
                width:auto;
                .div22{
                height: auto;
                margin-bottom: 15px;
                
                .div2-1{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 50%;
                    width: 60%;
                }
                }
                .div2-2{
                    width: 60%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                
                p:first-of-type{
                    font-weight: bold;
                }
                .plast{
                    margin-top:10px;
                }
                p{
                    margin-bottom: 0;
                }
                }
                .div2-3{
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        color:rgb(197, 47, 79);
                        font-size: 100%;
                    }
                }
            }
        }
        
        }
    }
}
@media (max-width:1230px){
    .parent{
        display: flex;
        flex-direction: column;
        width:100%;
    }
}
@media (min-width:1231px){
    .parent{
        display: flex;
        
        width: auto;
    }
}
@media (max-width:712px){
    
        .firstsection{
            width: 100%;
            
    }
}
@media (min-width:713px){
    .firstsection{
        width: 80%;
        
}
}